<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
    <script src="public/js/script1.js"type="text/javascript"></script>
  </head>
  <body>
        <!-- bg color #EDEEF0; -->
        <a type = "button" onclick="addkey()">Разрешить доступ</a>
        <!-- <a id="a1" href="/rules">Правила</a> -->
        <h2 align= "center">Толчок Григорьева</h2>
        <table align= "center">
            <tr>
                <th>Место</th>
                <th>Балл</th>
                <th>Участник</th>
            </tr>
            <ul>
            <% users.forEach(function(users,i){ %>
              <% if (users) { %>
              <tr>
                <td><%=i+1%></td>
                <td><%= users.balls %></td>
                <td><a id="a2" ><%= users.name %></a></td>  <!--href="https://vk.com/id<%= users.uid %>" -->
              </tr>
              <% } %>
            <%}) %>
          </ul>
        </table><br>
        <center><p>
        <a id="a4">Техподдержка</a><br>
        <a id="a3">vk.com/totoblabla</a></p></center>
  </body>
</html>
