<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
    <script src="public/js/script1.js"type="text/javascript"></script>
  </head>
  <body>
        <!-- bg color #EDEEF0; -->
        <!--<a type = "button" onclick="addkey()">Разрешить доступ</a>-->
        <table align= "center">
            <caption>Топ участников сообщества</caption>
            <tr>
                <th>Место</th>
                <th>Балл</th>
                <th>Участник</th>
            </tr>
            <tr>
                <td>1</td>
                <td>100</td>
                <td>totoblabla</td>
            </tr>
            <tr>
                <td>2</td>
                <td>80</td>
                <td>tolik</td>
            </tr>
            <tr>
                <td>3</td>
                <td>55</td>
                <td>any</td>
            </tr>
        </table>
  </body>
</html>
