body{
	background-color: #ffffff
}

table{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  width: 80%;
  border-collapse: collapse;
  text-align: center;
}

th {
  font-size: 14px;
font-weight: normal;
color: rgb(0, 48, 145);
padding: 10px 15px;
}

td {
  color: rgb(92, 92, 146);
  border-top: 1px solid #e8edff;
  padding: 3px 15px;
}

caption{
  color: rgb(63, 63, 63)
}
 
	
